/* Main page stylesheet */
body {
    height: 100%;
    margin: 0;
    font-family: Abel;
    background-image: url(blue-sky.jpg); 
    background-size: cover;
    background-attachment: fixed;
}

main {
    background-color: white;
    border-radius: 6px;
    list-style-type: none;
    margin-bottom: 30px;
    max-width: 700px;
    padding: 20px;
    width: 70%;
    margin: 20px auto;
    /* opacity: 0.5; */
}
  
.nav {
    z-index: 9999;
    display: flex;
    position: sticky;
    top: 0px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    overflow: hidden;
    background-color: rgb(119, 183, 255);
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.8);
}

.nav select {
    float: left;
    background-color: rgb(119, 183, 255);
    font-size: 20px;
    font-family: Abel;
    margin-right: auto;
}

.nav select:after {
    position: absolute;
    content: "";
    top: 16px;
    right: 46px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.nav select,.select-selected {
    color: #2C2C2C;
    padding: 16px 46px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

.nav .select-items {
    position: absolute;
    background-color: rgb(61, 79, 236);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.nav a {
    float: left;
    color: #2C2C2C;
    text-align: center;
    padding: 14px 46px;
    text-decoration: none;
    font-size: 20px;
}
  
.nav a:hover {
    background-color: white;
    color: black;
}
  
.nav a.active {
    background-color: rgb(61, 79, 236);
    color: white;
}

.tl {  /* timeline */
    position: fixed;
    left: 85%;  
    width: 10%;
    height: 10%;
    color: white;

    /*Disable text highlighting*/
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

ul.timeline {
    list-style-type: none;
    position: relative;
    font-size: 20px;
}

ul.timeline:before {
    content: ' ';
    background: rgb(119, 183, 255);
    display: inline-block;
    position: absolute;
    left: 36px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 30px 0;
    padding-left: 10px;
}
ul.timeline > li:before {
    content: ' ';
    background: rgb(119, 183, 255);
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid white;
    left: 30px;
    width: 10px;
    height: 10px;
    z-index: 400;
}

ul.timeline > li:hover:before {  /* blue circle */
    background: rgb(61, 79, 236);
}

ul li:hover { /* month */
    font-weight: bold;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
}

ul li ul li:hover { /* days */
    color:rgb(61, 79, 236);
    text-decoration: underline;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
}

ul.days {
    font-size: 15px;
    padding-left: 10px;
}

h4.title {
    font-size: 25px;
    margin: 40px 30px;
}

/*For aligning the journal entry when navigating to certain day (header covers if not done)*/
journal-entry {
    scroll-margin-top: 70px;
}


/* screensize 500px */
@media (max-width: 500px) {
    .tl {  /* timeline */
        position: absolute;
        left: 82%;  
        width: 10%;
        height: 10%;
        color: white;
    }
    ul.timeline {
        font-size: 16px;
    }
    .nav {
        font-size: xx-small;
    }
    .nav select {
        float: left;
        background-color: rgb(119, 183, 255);
        font-size: 16px;
        font-family: Abel;
        margin-right: auto;
    }
    .nav a {
        float: left;
        color: #2C2C2C;
        text-align: center;
        padding: 10px 12px;
        text-decoration: none;
        font-size: 16px;
    }
    main {
        margin-left: 30px;
    }
}