/* Main page stylesheet */
body {
    margin-left: 0;
    font-family: Abel;
}
  
.nav {
    display: flex;
    position: sticky;
    top: 0px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
    background-color: rgb(119, 183, 255);
}

.nav select {
    float: left;
    background-color: rgb(119, 183, 255);
    font-size: 20px;
    font-family: Abel;
}

.nav select:after {
    position: absolute;
    content: "";
    top: 16px;
    right: 46px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.nav select,.select-selected {
    color: #2C2C2C;
    padding: 16px 46px;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
}

.nav .select-items {
    position: absolute;
    background-color: rgb(61, 79, 236);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
.nav a {
    float: left;
    color: #2C2C2C;
    text-align: center;
    padding: 14px 46px;
    text-decoration: none;
    font-size: 20px;
}
  
.nav a:hover {
    background-color: white;
    color: black;
}
  
.nav a.active {
    background-color: rgb(61, 79, 236);
    color: white;
}

li {
    margin-left: 20px;
    font-size: 20px;
}

h3 {
    margin-left: 20px;
}

textarea {
    margin-left: 20px;
}

[class=addEntry] {
    margin-left: 20px;
}

div > button  {
    position: relative;
    top: 22px;
    cursor:pointer;
    background-color: transparent;
    outline: none;
    border: none;
}

.delete:before {
    content: '\2716';
    font-size: 15px;
    color: gray;
}

/* text inside flag button */
.flag:before {
    content: '';
    font-size: 17px;
    color: red;
}

.flag:checked:before {
    content: '!';
}


.addEntry {
    background-color: transparent;
    border:none;
}
button.addEntry:before {
    content:'\002B';
    font-size: 20px;
    color: blue;
    cursor: pointer;
    font-size: 30px;

}

main {
    margin-left: 20px;
}

div > textarea {
    position: relative;
    bottom: 15px;
    font-family: Abel;
    font-size: 20px;
}

.delete {
    display: none;
}

div:hover > .delete {
    position: relative;
    display: inline;
    vertical-align: top;
    top: 8px;
    right: 20px;
}

/* flag button box style */
.flag {
    display: none;
    appearance: none;
    background-color: #fafafa;
	border: 1px solid #cacece;
    padding: 0px 0px 0px 7px;
    min-width: 22px;
    min-height: 22px;
}

div:hover > .flag {
    position: relative;
    display: inline-block;
    vertical-align: top;
    top: 6px;
    right: 20px;
}

div:hover > li {
    position: relative;
    bottom: 22px;
    left: 20px;
}

div {
    position:relative;
    height: 40px;
    left: 10px;
}

section {
    width: 500px;
    background-color: white;
}
