name: GitHub pages

on: push

jobs:    
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        

      - name: Build
        uses: andstor/jsdoc-action@v1
        with:
          source_dir: ./src
          output_dir: out
          template: minami
          recurse: false
          
      - run: |
          git add out
          git config --global user.name aasemfituri
          git commit -m "Generate Docs"
          git push https://github.com/cse110-sp21-group5/cse110-sp21-group5
