## Main code obtained from https://github.com/marketplace/actions/jsdoc-action
name: Documentation

on: 
  push:
    branches: main

jobs:    
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        

      - name: Build
        uses: andstor/jsdoc-action@v1
        with:
          source_dir: ./source
          output_dir: docs
          template: minami
          recurse: false
          front_page: ./README.md
          
      - run: |
          git add docs
          git config --global user.name aasemfituri
          git commit -m "Generate Docs"
          git push https://github.com/cse110-sp21-group5/cse110-sp21-group5
